APP_NAME=InduVista
APP_ENV=development

APP_TIMEZONE=Asia/Kolkata
ENABLE_REPORT_SCHEDULER=true
REPORT_SCHEDULER_INTERVAL_SEC=30

POSTGRES_DB=induvista
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password

DATABASE_URL=postgresql+psycopg2://your_user:your_password@postgres:5432/induvista
